body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
  background-color: hsl(233, 47%, 7%);
}

.card {
  margin: auto;
  display: flex;
}

.left {
  background-color: hsl(244, 38%, 16%);
  padding-right: 150px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 446px;
}

.img-right {
  filter: opacity(0.6) drop-shadow(0 0 0 hsl(277, 64%, 61%));
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header-text {
  color: hsl(0, 0%, 100%);
  margin-left: 4rem;
}

#highlight-text {
  color: hsl(277, 64%, 61%);
}

.body-text {
  color: hsla(0, 0%, 100%, 0.75);
  margin-left: 4rem;
}

.header-text {
  margin-top: 4rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.body-text {
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.footer-text {
  margin-left: 4rem;
  margin-top: 5rem;
}

.number {
  color: hsl(0, 0%, 100%);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  justify-content: space-between;
}

.body-text div {
  margin-top: 0.4rem;
}